  display: flex;
}
.left{
    width: 50%;
}
.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right{
    width: 50%;
    padding: 60px 40px;
}
.right h1{
    font-size: 36px;
    margin-bottom: 20px;
}
.right p{
    margin-bottom: 30px;
    color: #555;
}
.buy{
    padding: 12px 30px;
    background: #b26ad6;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

}
